:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, 0.05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    font-family: "Pacifico", cursive;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  /* css chung */
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }
  .btn-style,
  .btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
  }
   .title h6 {
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 1px;
     color: #ff6600;
     display: block;
     font-family: 'Pacifico', cursive;
   }
   .title h3 {
     font-size: 38px;
     line-height: 48px;
     font-weight: 600;
     color: #232121;
     font-family: 'Quicksand',sans-serif;
   } 
   p {
     margin: 0;
     padding: 0;
     font-size: 18px;
     line-height: 28px;
     color: #161c2db3;
     font-family: 'Quicksand',sans-serif;
   }
  .dark p{
    color: #a5a2a1;
  }
  .container {
    width: 100%;
    margin: auto;
    padding: 0 15px 0 15px;
  }
  /* BANNER */
  .banner {
    background-image: linear-gradient(to right, 
    #ff6600, 
    #05030033),
    url(../img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:initial;
    background-attachment: fixed;
    min-height: 700px;
  }

  /* HEADER */
  .header__content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    margin: auto;
    align-items: center;
    padding: 40px 0 20px 0px;
  }
  .header__logo .logo-branch {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
  }
  .header__logo a.logo-branch { 
    text-decoration: none;
    color: white;
  }
  .header__right {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px ;
    align-items: center;
  }
  /* form search */
  .header__search form{
    display: flex;
    align-items: center;
    color: #161c2db3;
    position: relative;
  }
  .header__search input {
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    outline: none;
    right: 0;
  }
  .header__iconSearch {
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
    border: none;
  }
  /* switch theme */
  #myBody {
    background-color: white;
  }
  #ChangeTheme {
    background-color: #232220;
    transform: rotate(-20deg);
  }
  #ChangeTheme .fa-sun {
    display: none;
  }
  #ChangeTheme .fa-moon {
    display: block;
  }
  /* Dark theme  */
  .dark#myBody {
    background-color: #232220;
  }
  .dark #ChangeTheme {
    background-color: white;
  }
  .dark #ChangeTheme .fa-sun{
    display: block;
    color: white;
  }
  .dark #ChangeTheme .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: #232220;
    color: white;
  }
  .switch--theme {
    display: flex;
    align-items: center;
  }
  .btn-theme {
    outline: none;
   border: none;
   background: none !important;
   text-align: center;
   color: white;
   font-size: 20px;
   /* padding: 5px; */
  }
  /* button togller */
  .header__toggler button  {
   outline: none;
   border: none;
   background: none;
   text-align: center;
   color: white;
   font-size: 29px;
   padding: 0 8px 0 10px;
  }
  /* overlay */
  .header__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #060300c4;
    z-index: 99;
    display: none;
    animation: overlay 0.4s ease-in-out; 
  }
  @keyframes overlay {
    0% {
      transform: scale(0.9);
      display: block;
    }
    100% {
      transform: scale(1);    
    }
  }
  /* @keyframes closeOverlay {
    50% {
      transform: scale(0.9);
      opacity: 0.5;
    }
    100% {
      display: none;
    }
  } */
  .header__overlay #icon-close{
    width: 40px;
    height: 40px;
    position:absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
  }
  .header__overlay button:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }
  .header__overlay nav {
    text-align: center;
    position: relative;
    top:50%;
    /* height: 70%; */
    transform: translateY(-50%);
  }
  .header__overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
  }
  .header__overlay ul li {
    display: block;
    line-height: 3em;
  }
  .header__overlay ul li a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    transition: all 0.2s;
  }
  .header__overlay ul li a:hover {
    color:#ff6600;
  }
  
  /* CAROUSEL */
  .Dincarousel {
    width: 1200px;
  }
  .carousel__content {
    max-width: 600px;
    text-align: left;
    margin-top: 103px;
  }
  .carousel__content h3 {
    font-size: 54px;
    line-height: 64px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
  }
  .carousel__content p {
    line-height: 28px;
    color: #fff;
    font-size: 16px;
  }
  .carousel__content a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
  }
  .carousel__btn {
    padding: 12px 47px 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
  }
  .carousel__btn:hover {
    background: #fff;
    color: #ff6600;
  }
  /* ABOUT US */
  #about {
    width: 100%;
  }

  /* responsive */
  @media screen and (min-width: 0) {
    .banner {
      min-height: 600px;
      margin-top: 60px;
    }
    .header__search {
      display: none;
    }
    .carousel__content h3 {
      font-size: 40px;
      line-height: 50px;
    }
    .header__overlay ul li a {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media screen and (min-width: 600px) {
    .header__search {
      display:block;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .header__overlay ul li a {
      font-size: 20px;
    }
  }
  @media screen and (min-width:800px){
    .banner {
      min-height: 700px;
      margin-top: 0;
    }
    .carousel__content h3 {
      font-size: 44px;
      line-height: 53px;
    }
  }
  @media screen and (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .carousel__content h3 {
      font-size: 48px;
      line-height: 58px;
    }
  }
  @media screen and (min-width:1190px){
    .carousel__content h3 {
      font-size: 54px;
      line-height: 64px;
    } 
  }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1140px
    };
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1200px;
    }
    
  }
  

   /* CSS title header */
.header__title{
    margin: 16px;
}
.title_primary {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
.title_text{
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}


 /* CSS Categories */

 .categories{
  padding: 40px 0;
  background: var(--bg-grey);
}
.dark .categories {
  background:   #282828;
}
.dark .title_text {
  color: #eee;
}
  .gal-slide-info {
  left: auto;
  bottom: 0;
  /* width: 95%; */
  /* padding: 0 10px; */
  position: absolute;
  /* opacity: 0; */
  color: #fff;
  transform: translate3d(0, 10%, 0);
  /* transition: opacity 0.3s; */
}

.gal-slide-img{
  position: relative;
}
.categories .gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}
.gal-slide-img a::after{
 content: '';
 position: absolute;
 bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px; 
  -webkit-border-radius: 6px;
}
 .gal-slide-info{
  opacity: 1;
  transition: all 0.4s;
 }
 .gal-slide-info a{
   text-decoration: none;
 }
 .gal-slide-info h4{
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
 }
 .gal-slide-info h6 span{
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
  font-family: 'Quicksand', sans-serif;
 }
 .categories img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}


/* Features */
.features{
  position: relative;
}
.box-wrap {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
}
.dark .box-wrap{
  background-color: #232220;

}
.dark .box-wrap p{
  color: #c2d0da;
}
.dark .box-wrap-grid .info h4 a {
  color: #eee;;
}
.box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.box-wrap-grid .info{
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}
.box-wrap-grid .icon{
  width: 70px;
  height: 70px;
  text-align: center;
  background: var(--bg-light);
  line-height: 70px;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}
.box-wrap:hover .icon {
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
}
.box-wrap:hover .icon span.fa {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.box-wrap:hover .icon i {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.box-wrap-grid .icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}

.box-wrap-grid .icon i {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
.box-wrap-grid .info h4{
  font-size:26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
 
  font-family: 'Quicksand', sans-serif;

}
.box-wrap-grid .info h4 a{
  text-decoration: none;
  color: var(--heading-color);
}
.box-wrap-grid .info h4 a:hover{
  color: var(--primary-color);
}


/* CSS Blog post */
.blogposts{
  background: var(--bg-grey);
}
.dark .blogposts{
  background-color: #282828;
}
.blogposts .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}
.blogposts .card-header{
  border: none;
}
.blogposts .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.blogposts a.receipe {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: .05em;
  text-decoration: none;
}
.blogposts .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 12px;
  letter-spacing: .02em;
  font-weight: 500;
  line-height: 1.5;
}

.blogposts a.blog-desc {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  text-decoration: none;
}
.dark .blogposts a.blog-desc{
  color: #eee;
}
.blogposts .card-body p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}
.dark .blogposts .card-body p{
  color: #c2d0da;;
}
.blogposts .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.blogposts .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}
.blogposts a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.blogposts .p-meta-info img {
  width: 34px;
  height: 34px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.blogposts .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: .02em;
  font-size: 13px;
  text-decoration: none;
}
.dark .blogposts .p-meta-info a {
  color: #eee;
}
.blogposts .read {
text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .02em;
  color: var(--heading-color);
  opacity: .9;
  text-decoration: none;
}

.dark .blogposts .read {
  color: #eee;
}
.blogposts a.read:hover {
  color: var(--primary-color);
}
.radius-image {
  border-radius: var(--border-radius);
}

/* Testimonial */
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}




.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}


.testimonial-text {
  padding-bottom: 30px;
  text-align: center;
  margin: 20px 100px;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;
}
.testimonials a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.testimonials .testimonial-text a img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.testimonials .testimonial-text  q{
  font-size: 22px;
  line-height: 30px;
  color: var(--heading-color);
  font-weight: 600;  
}
.dark .testimonials .testimonial-text  q{
  color: #eee;
}
.testimonials .testimonial-text  q::before{
  content: open-quote;
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .testimonials .testimonial-text p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
    font-family: 'Quicksand', sans-serif;
  }
  .dark .testimonials .testimonial-text p{
    color: #c2d0da;;
  }
  .testimonials .testimonial-text .people-info h3{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
  }
  .dark .testimonials .testimonial-text .people-info h3{
    color: #eee;
  }
  .testimonials .testimonial-text .people-info p{
    font-size: 18px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
    margin-top: 4px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .dark .swiper-pagination-bullet{
    background: #d8d8d8;
    opacity: 1;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
    margin: 0 4px;
    background-color: var(--primary-color);
}
/* Footer */
footer{
  background: var(--footer-bg);
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer-29 p{
  color: #a5a2a1;
}
.footer-29 .footer-top-29 .footer-list-29 ul li a{
  text-decoration: none;
  font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}
.footer-29 .footer-top-29 .footer-list-29 ul li{
  text-decoration: none;
  list-style: none;
  margin-bottom: 10px;
}
.footer-29 .footer-top-29 .footer-list-29 ul li a:hover {
  color: var(--primary-color);
}
.footer-29 a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}
.footer-29 a.navbar-brand:hover{
  color: var(--primary-color);
}
.footer-29 h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.main-social-footer-29 a {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.dark .main-social-footer-29 a {
  background: #232220;
}
.main-social-footer-29 a:hover {
  background: var(--primary-color);
  transition: 0.3s;
  color: #fff;
}
.footer-29 input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}
.dark .footer-29 input[type="email"]{
  background: #232220;
}

.w3l-copyright {
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}
.w3l-copyright .footer-list-29 a {
  color: var(--primary-color);
  text-decoration: none;
}
.w3l-copyright .footer-list-29 li{
  list-style: none;
}
.w3l-copyright .footer-list-29 li a{
  font-size: 16px;
  line-height: 26px;
  color: #a5a2a1;
}
.w3l-copyright .copy-footer-29 a {
  text-decoration: none;
  color: var(--primary-color);
}
.w3l-copyright #movetop {
  /* display: none; */
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}


/* Responsive */


@media (max-width: 600px){
  .title_primary {
    font-size: 16px;
    /* line-height: 36px; */
  
}
}
@media (max-width: 480px){
  .title_text{
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 800px){
  .categories .content-left-sec a h4 {
    font-size: 18px;
    line-height: 28px;
}
}
@media (max-width: 992px){
  .footer-29 .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
}
}
@media (max-width: 1080px){
  .box-wrap h4 a {
    font-size: 22px;
}

}